body{
    box-sizing: border-box;
    margin:0px;
}
img
{
    display: block;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
p{
    font-weight: bold;
    font-size: 20px;
}
h2{
    text-decoration: underline;
    font-size: 30px;
}
h3{
    font-size: 25px;
    text-decoration: underline;
    font-weight: bolder;
}